<div class="row" style="margin-bottom: 0.5rem; ">
    <div class="col-md-6 justify-content-center">
        <div id="chartContainer1" style="height: 370px;border: solid 1px ; width:100%; "></div>
    </div>
    <div class="col-md-6">
        <div id="chartContainer2" style="height: 370px; border: solid 1px ; width:100%;"></div>
    </div>
</div>
<div class="row" style="margin-bottom: 0.5rem">    
    <div class="col-md-6">
        <div id="chartContainer3" style="height: 370px; border: solid 1px ; width:100%;"></div>
    </div>
    <div class="col-md-6">
        <div id="chartContainer4" style="height: 370px; border: solid 1px ; width:100%;"></div>
    </div>
</div>


<div class="row" style="margin-bottom: 0.5rem">
    <div class="col-md-6">
        <div id="chartContainer5" style="height: 370px; border: solid 1px ; width:100%;"></div>
    </div>
    <div class="col-md-6">
        <div id="chartContainer6" style="height: 370px; border: solid 1px ; width:100%;"></div>
    </div>
</div>
<!-- <div id="chartContainer1" style="height: 370px; width:100%;"></div>
<div id="chartContainer2" style="height: 370px; width: 100%;"></div>
<div id="chartContainer3" style="height: 370px; width: 100%;"></div>
<div id="chartContainer4" style="height: 370px; width: 100%;"></div> -->